@media screen and (min-width: 1025px) and (max-width: 1440px) {
    
    .grid-container {
        width: 90%;
        max-width: 90%;
    }

    main section .newsest .card-box .news-card {
        width: 420px;
        height: 650px;
    }
}